# Postgres
POSTGRES_HOST=postgres
POSTGRES_DB=vkursos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# pgAdmin
PGADMIN_EMAIL=admin@vkursos.com
PGADMIN_PASSWORD=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=vkursos

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=vkurso-videos
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000

#API ADMIN
APP_ADMIN_EMAIL=admin@gmail.com
APP_ADMIN_PASSWORD=admin

#API URL
VITE_API_URL = http://localhost:8080/api
URL_FRONTEND = http://localhost:5173