# Postgres
POSTGRES_DB=admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# pgAdmin
PGADMIN_EMAIL=admin@vkursos.com
PGADMIN_PASSWORD=admin

# Redis
REDIS_PASSWORD=admin

#Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
