# Postgres
POSTGRES_DB=vkursos
POSTGRES_USER=vkursos
POSTGRES_PASSWORD=vkursos

# pgAdmin
PGADMIN_EMAIL=admin@vkursos.com
PGADMIN_PASSWORD=admin

# Redis
REDIS_PASSWORD=vkursos

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
